<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>eCare</title>
</head>
<body>
<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
          <use xlink:href="#bootstrap"/>
        </svg>
      </a>
      <div class="text-end">
        <a  href="/logout" class="btn btn-outline-light me-2">Logout</a>
        <a  href="/Home" class="btn btn-outline-light me-2">Home</a>
        <!--                <button type="button" class="btn btn-warning">Sign-up</button>-->
      </div>
    </div>
  </div>
</header>
<main>
  <div>
    <h1 id="hello-fullname" th:text="${user.fullname}>Hello, </h1>

  </div>
<form>

</form>
</main>

</body>
</html>