<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>allUsers</title>
    <link th:href="@{../resources/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{../resources/css/index.css}" rel="stylesheet">
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>
<body>
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap"/>
                </svg>
            </a>
            <div class="text-end">
                <a href="/employee/hello" class="btn btn-outline-light me-2">Back</a>
            </div>
        </div>
    </div>
</header>

<main>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Clients</h1>
        <p class="fs-5 text-muted">All clients are here:</p>
    </div>
    <input class="form-control" id="myInput" type="text" placeholder="Search...">
    <form th:action="@{/allUsers}" th:object="${users}" method="post">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Fullname</th>
                <th scope="col">Birth</th>
                <th scope="col">Passport</th>
                <th scope="col">Address</th>
                <th scope="col">email</th>
                <th scope="col">status</th>
            </tr>
            </thead>
            <tbody id="myTable">
            <tr th:each="user: ${users}">
                <td th:text="${user.fullname}">N/A</td>
                <td th:text="${user.date}">N/A</td>
                <td th:text="${user.passport}">N/A</td>
                <td th:text="${user.address}">N/A</td>
                <td th:text="${user.email}">N/A</td>
                <td th:text="${user.status}">N/A</td>
                <td><a class="btn btn-light" role="button" href="#">Block</a></td>
                <td><a class="btn btn-light" role="button" href="#">Unblock</a></td>
            </tr>
            </tbody>
        </table>
    </form>
</main>
<script th:src="@{../resources/js/search.js}"></script>
</body>
</html>