<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>editUser</title>
    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/resources/css/index.css}" rel="stylesheet">
</head>
<body>
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap"/>
                </svg>
            </a>
            <div class="text-end">
                <a href="/employee/allUsers" class="btn btn-outline-light me-2">Back</a>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Edit User</h1>
        <p class="fs-5 text-muted">You can edit user here:</p>
    </div>
        <form th:action="@{/employee/editUser/{id} (id = ${id})}"  th:object="${user}" method="post" >
        <div class="g-3">
            <div class="col">
                <input th:value="${user.fullname}" type="text" name="fullname" class="form-control" placeholder="fullname">
            </div><br>
            <div class="col">
                <input th:value="${user.address}" type="text" name="address" class="form-control" placeholder="address">
            </div><br>
            <div class="col">
                <input th:value="${user.date}" type="text" name="date" class="form-control" placeholder="date">
            </div><br>
            <div class="col">
                <input th:value="${user.email}" type="text" name="email" class="form-control" placeholder="email">
            </div><br>
            <div class="col">
                <input th:value="${user.passport}" type="text" name="passport" class="form-control" placeholder="passport">
            </div><br>
            <div class="col">
                <input th:value="${user.role}" type="text" name="role" class="form-control" placeholder="role">
            </div><br>
            <div class="col">
                <input th:value="${user.status}" type="text" name="status" class="form-control" placeholder="status">
            </div><br>

<!--            <input type="checkbox" th:checked="${user.contracts.blocked}" name="blocked">Block/Unblock<br>-->
<!--            <div class="col">-->
<!--                <select class="custom-select" name="select" multiple>-->
<!--                    <option th:each="option: ${options}" th:value="${option.idOption}" th:name="${option.name}"></option>-->
<!--                </select>-->

            <button class="btn btn-outline-secondary me-2" type="submit";>
                Save
            </button>
        </div>
    </form>
</main>
</body>
</html>