<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>editOption</title>
    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/resources/css/index.css}" rel="stylesheet">
</head>
<body>
<header>
    <div class="container">
        <div class="align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap"/>
                </svg>
            </a>
            <div class="text-end">
                <a href="/employee/hello" class="btn btn-outline-light me-2">Back</a>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Edit Tariff</h1>
        <p class="fs-5 text-muted">You can edit tariff here:</p>
    </div>
    <form th:action="@{/employee/editOption/{id} (id = ${id})}"  th:object="${option}" method="post" >
        <div class="g-3">
            <div class="col">
                <label class="form-label">Title</label>
                <input th:value="${option.name}" type="text" name="title" class="form-control" placeholder="Title">
            </div><br>
            <div class="col">
                <label class="form-label">Price</label>
                <input th:value="${option.cost}" type="text" name="price" class="form-control" placeholder="Price">
            </div><br>
            <div class="col">
                <label class="form-label">Connection Price</label>
                <input th:value="${option.conn_cost}" type="text" name="price" class="form-control" placeholder="Price">
            </div><br>
            <button class="btn btn-outline-secondary me-2" type="submit";>
                Save
            </button>
        </div>
    </form>
</main>

</body>
</html>